<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Edutor\Edutor.Common\packages.config" />
  <repository path="..\Edutor\Edutor.Data.SqlServer\packages.config" />
  <repository path="..\Edutor\Edutor.Web.Api\packages.config" />
  <repository path="..\Edutor\Edutor.Web.Common\packages.config" />
</repositories>