<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>


  <!--<add name="edutorDb" connectionString="server=virtual-edutor.cloudapp.net;database=Edutor.Test.Db;uid=sa;password=S@1admin;" />-->
  <add name="edutorDb" connectionString="server=FFEREGRINO-DELL\SQL2014;database=Edutor.Test.Db;Integrated Security=True;" />
  <!--<add name="edutorDb" connectionString="server=FFEREGRINO-W10;database=Edutor.Db.Test;Integrated Security=True;" />-->

</connectionStrings>