<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="edutorDbTest" connectionString="server=FFEREGRINO-DELL\SQL2014;database=Edutor.Test.Db;Integrated Security=True;" />
  <add name="edutorDb" connectionString="server=khgvysjbfk.database.windows.net,1433;database=dataedutor;uid=dbadmin;password=DataEdu70r:);" />
</connectionStrings>