<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Edutor.App\Edutor.Mobile\Edutor.Mobile.Droid\packages.config" />
  <repository path="..\Edutor.App\Edutor.Mobile\Edutor.Mobile.iOS\packages.config" />
  <repository path="..\Edutor.App\Edutor.Mobile\Edutor.Mobile\packages.config" />
</repositories>